作業目標:<br>
1. 熟悉分組計算

作業重點: <br>
1. 分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析<br>
1. 找出全年級各科成績最高分與最低分?<br>
2. 找出數學班平均最高的班級?<br>
3. 分析全校女生與男生國文平均差幾分?<br>

In [1]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [2]:
#1.找出全年級各科成績最高分與最低分?
score_df[['math_score','english_score','chinese_score']].max()

math_score       98
english_score    90
chinese_score    89
dtype: int64

In [3]:
#2.找出數學班平均最高的班級?
score1 = score_df[['class','math_score']].groupby('class').mean()
print(score1)
print('\nclass2 最高分')

       math_score
class
1       54.800000
2       61.250000
3       58.666667

class2 最高分

In [4]:
#3.分析全校女生與男生國文平均差幾分?
score2 = score_df[['sex','chinese_score']].groupby('sex').mean()
print(score2)
print('%f'%(abs(score2.loc['boy']-score2.loc['girl'])))

      chinese_score
sex
boy       55.333333
girl      62.666667
7.333333